.footerContainer{
    background-color: #686AAc;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.footerContent{
    color: #FFF;
    font-size: 1rem;
}